<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.paldo.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="memberLogin" resultType="org.paldo.domain.ShopMemberVO">

		select memberId, memberName from shop_member 
		where
		memberId = #{memberId} and memberPw = #{memberPw}

	</select>
	
</mapper>